Q. Declare a float value and store it in a variable.
Check the type and print the id of the same.

In [1]:
a = 10.50
print(type(a)), print(id(a))

<class 'float'>
2189596555632

(None, None)

Q. Arithmetic Operations on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Find sum of both numbers
Find difference between them
Find the product of both numbers.
Find value after dividing first num with second number
Find the remainder after dividing first number with second number
Find the quotient after dividing first number with second number
Find the result of the first num to the power of the second number.

In [3]:
x = 10.5
y =5.2
print(x+y),print(x-y),print(x*y), print(x/y), print(x%y),print(x//y),print(x**y)

15.7
5.3
54.6
2.019230769230769
0.09999999999999964
2.0
204260.48330383332

(None, None, None, None, None, None, None)

Q. Comparison Operators on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Compare these two numbers with below operator:-
Greater than, '>'
Smaller than, '<'
Greater than or equal to, '>='
Less than or equal to, '<='
Observe their output(return type should be boolean)

In [4]:
print(x > y), print(x < y),print(x >= y), print(x <= y)

True
False
True
False

(None, None, None, None)

Q. Equality Operator
Take two different float values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [5]:
x1 = 98.5
y1 = 98.5
print(x1 == y1), print(x1 != y1)

True
False

(None, None)

Q. Logical operators
Observe the output of below code
Cross check the output manually
print ( 10.20 and 20.30 ) #both are true and second value taken
>Output is 20.3
print ( 0.0 and 20.30 ) #First is false so first value
taken->Output is 0.0
print ( 20.30 and 0.0 ) #Goes to till second and second value is
false so second is taken>Output is 0.0
print ( 0.0 and 0.0 ) #First is false so first value is
taken->Output is 0.0
print ( 10.20 or 20.30 ) #First is True so first value is
taken>Output is 10.2
print ( 0.0 or 20.30 ) #Goes to till second and second is true
second value is taken->Output is 20.3
print ( 20.30 or 0.0 ) #First is True so first value is
taken->Output is 20.3
print ( 0.0 or 0.0 ) #Goes to till second and second is also
false and second value is taken>Output is 0.0
print ( not 10.20 ) #-Not of true is false->Output is False
print ( not 0.0 ) #Not of false is True>Output is True

In [6]:
bool(10.20), bool(20.30), bool(0.0)

(True, True, False)

In [7]:
print ( 10.20 and 20.30 ) # True and True. Both are true and second value is returned

20.3

In [8]:
print ( 0.0 and 20.30 ) # False and True. first is false, thus first value is returned

0.0

In [9]:
print ( 20.30 and 0.0 ) # True and False. first is True and second is False, thus second value is returned

0.0

In [10]:
print ( 0.0 and 0.0 ) # False and False. first is False and second is False, thus first value is returned

0.0

In [11]:
print ( 10.20 or 20.30 ) # True or True. 1st is True, thus 1st value is returned

10.2

In [12]:
print ( 0.0 or 20.30 ) # False or True. second value is true, thus second value is returned

20.3

In [13]:
print ( 20.30 or 0.0 ) # True or False. Ist is True, thus 1st value is returned.

20.3

In [14]:
print ( 0.0 or 0.0 )  # False or False. Ist is False, thus checks second value if false,2nd value is returned.

0.0

In [15]:
print ( not 10.20 ) #opposite of True is False

False

In [16]:
print ( not 0.0 ) #opposite of False is True

True

Q. What is the output of expression inside print statement. Cross check
before running the program.
a = 10.20
b - 10.20
print (a is b) #True or False? True 10.20<256
print (a is not b) #True or False? False
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same

In [19]:
# Object Reuasbility concept is not applicable for float values, thus id of both the variables is different, thus a is b is false
a = 10.20
b = 10.20
print (a is b)
print(id(a)), print(id(b))

False
2189596317456
2189597184976

(None, None)

In [4]:
a = 10.5
b= 10.5
c = a

print(id(a)), print(id(c))

# when we assign a to c, both the variables have same memory id. due to object reusablity concept.

2589252366736
2589252366736

(None, None)

Q. Membership operation
in, not in are two membership operators and it returns boolean value
print ( '2.7' in 'Python2.7.8' ) #True
print ( 10.20 in [ 10 , 10.20 , 10 + 20j , 'Python' ]) #True
print ( 10.20 in ( 10 , 10.20 , 10 + 20j , 'Python' )) # True
print ( 20.30 in { 1 , 20.30 , 30 + 40j }) # True
print ( 2.3 in { 1 : 100 , 2.3 : 200 , 30 + 40j : 300 }) # True
print ( 10 in range ( 20 )) # True

In [24]:
print ( '2.7' in 'Python2.7.8' ) # 2.7 is avalable in string, thus True

True

In [25]:
print ( 10.20 in [ 10 , 10.20 , 10 + 20j , 'Python' ]) # 10.20 is avialble in list. Thus True

True

In [26]:
print ( 10.20 in ( 10 , 10.20 , 10 + 20j , 'Python' )) # 10.20 is available in tuple , Thus True

True

In [28]:
print ( 20.30 in { 1 , 20.30 , 30 + 40j }) # 20.30 is available in set, Thus True

True

In [29]:
 print ( 2.3 in { 1 : 100 , 2.3 : 200 , 30 + 40j : 300 })# 2.3 is available in dictinary, Thus True

True

In [30]:
print ( 10 in range ( 20 )) # 10 is availbale in range, Thus True

True