Q. Declare an int value and store it in a variable.
Check the type and print the id of the same.

In [5]:
a = 10
print(type(a)),print(id(a))

<class 'int'>
140731499358288

(None, None)

Q. Take one int value between 0 - 256.
Assign it to two different variables.
Check the id of both the variables. It should come the same. Check why?

In [6]:
a = 200
b = 200
print(id(a)), print(id(b))  ## Id is same due to memory reusability concept in python for integers between -5 to 256

140731499364368
140731499364368

(None, None)

Q. Take one int value either less than -5 or greater than 256.
Assign it to two different variables.
Check the id of both the variables. It should come different.Check why?

In [7]:
a = 270
b = 270
print(id(a)), print(id(b))  ## Id is same due to memory reusability concept in python for integers between -5 to 256

2502501504368
2502501504592

(None, None)

Q. Arithmetic Operations on integers
Take two different integer values.
Store them in two different variables.
Do below operations on them:-
Find sum of both numbers
Find difference between them
Find the product of both numbers.
Find value after dividing first num with second number
Find the remainder after dividing first number with second number
Find the quotient after dividing first number with second number
Find the result of the first num to the power of the second number.

In [11]:
x = 10
y =5
print(x+y),print(x-y),print(x*y), print(x/y), print(x%y),print(x//y),print(x**y)

15
5
50
2.0
0
2
100000

(None, None, None, None, None, None, None)

Q. Comparison Operators on integers
Take two different integer values.
Store them in two different variables.
Do below operations on them:-
Compare se two numbers with below operator:-
Greater than, '>'
Smaller than, '<'
Greater than or equal to, '>='
Less than or equal to, '<='
Observe their output(return type should be boolean)

In [12]:

print(x > y), print(x < y),print(x >= y), print(x <= y)

True
False
True
False

(None, None, None, None)

Q. Equality Operator
Take two different integer values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [14]:
x1 = 100
y1 = 100
print(x1 == y1), print(x1 != y1)

True
False

(None, None)

Q. Logical operators
Observe the output of below code
Cross check the output manually
print ( 10 and 20 )
#----------------------------------------->Output is 20
print ( 0 and 20 )
#----------------------------------------->Output is 0
print ( 20 and 0 )
#----------------------------------------->Output is 0
print ( 0 and 0 )
#----------------------------------------->Output is 0
print ( 10 or 20 )
#----------------------------------------->Output is 10
print ( 0 or 20 )
#----------------------------------------->Output is 20
print ( 20 or 0 )
#----------------------------------------->Output is 20
print ( 0 or 0 )
#----------------------------------------->Output is 0
print ( not 10 )
#----------------------------------------->Output is False
print ( not 0 )
#----------------------------------------->Output is True

In [17]:
bool(10), bool(20), bool(0)

(True, True, False)

###Solution:--
print(10 and 20)=> 20 # True and True.In and logical condition -if 1st is True and second is True then second variable is returned
print (0 and 20)=>0 # False and True.In and logical condition -if 1st is False and second is True then first variable is returned
print (20 and 0)=>0 # True and False.In and logical condition -if 1st is True and second is False then second variable is returned
print (0 and 0)=>0 # False and False.In and logical condition -if 1st is False and second is False then second variable is returned

print(10 or 20)=> 10 # True or True.In or logical condition -if 1st is True  then first variable is returned.
print(0 or 20)=> 20 # False or True.In or logical condition -if 1st is False and second is True  then second variable is returned.
print(20 or 0)=> 20 # True or False.In or logical condition -if 1st is True. Then first variable is returned.
print(0 or 0)=> 0 # False or False.In or logical condition -if 1st is False and second is False. Then second variable is returned.

print(not 10)=> False #Reverse of True is False
print(not 0)=> True #Reverse of False is True

Q. Bitwise Operators
Do below operations on the values provided below:-
Bitwise and(&) -----------------------------------------> 10, 20
-------> Output is 0
Bitwise or(|) -----------------------------------------> 10, 20
-------> Output is 30
Bitwise(^) -----------------------------------------> 10, 20
-------> Output is 30
Bitwise negation(~) ------------------------------------> 10
-------> Output is -11
Bitwise left shift ------------------------------------> 10,2
-------> Output is 40
Bitwise right shift ------------------------------------> 10,2
-------> Output is 2
Cross check the output manually

In [19]:
bin(10), bin(20)

('0b1010', '0b10100')

In [23]:
# Bitwise and(&) -----------------------------------------> 10, 20
# -------> Output is 0
# 0 b 0 1 0 1 0 
# 0 b 1 0 1 0 0
#---------------
 # 0 b 0 0 0 0 0
int(0b00000)

0

In [24]:
# Bitwise or(|) -----------------------------------------> 10, 20
# -------> Output is 30
# 0 b 0 1 0 1 0 
# 0 b 1 0 1 0 0
#---------------
# 0 b 1 1 1 1 0
int(0b11110)

30

In [26]:
# Bitwise(^) -----------------------------------------> 10, 20  # if both are same then 0 otherwise 1
# -------> Output is 30
# 0 b 0 1 0 1 0 
# 0 b 1 0 1 0 0
#---------------
# 0 b 1 1 1 1 0
int(0b11110)

30

In [29]:
# Bitwise negation(~) ------------------------------------> 10
# -------> Output is -11

print(~10) # add 1 to 10 and then negation

-11

In [32]:
# itwise left shift ------------------------------------> 10,2
# -------> Output is 40

10*(2**2), print(0b101000)
# 0 b 1 0 1 0 
# 0 b 1 0 1 0 0 0 # after 2 shift

40

(40, None)

In [36]:
# Bitwise right shift ------------------------------------> 10,2
# -------> Output is 2

print(10//(2**2)), 
# 0 b 1 0 1 0 
# 0 b 0 0 1 0 1 0  # after 2 shift right

2
10

(None, None)

In [37]:
print(0b001010)

10

Q. What is the output of expression inside print statement. Cross check
before running the program.
a = 10
b = 10
print(a is b) #True or False?
print(a is not b) #True or False?
a = 1000
b = 1000
print(a is b) #True or False?
print(a is not b) #True or False?

In [39]:
a = 10
b = 10
print(id(a)), print(id(b))
print(a is b) # True as ID of both a and b is same as per object resuability concept in python
print(a is not b) # False as ID of both a and b is same as per object resuability concept in python

140731499358288
140731499358288
True
False

In [40]:
a = 1000
b = 1000
print(id(a)), print(id(b))
print(a is b) # False as ID of both a and b is different 
            # As object resuability concept in python is not applicable for intergers above 256
print(a is not b) # True as ID of both a and b is diffeerent as per object resuability concept in python
                  # As object resuability concept in python is not applicable for intergers above 256

2502501504592
2502501503248
False
True

Q. What is the output of expression inside print statement. Cross check
before running the program.
print ( 10 +( 10 * 32 )// 2 ** 5 & 20 +(~( -10 ))<< 2 )

In [71]:
print( 10 +( 10 * 32 )// 2 ** 5 & 20 +(~( -10 ))<< 2 )

20

In [ ]:
#( 10 +( 10 * 32 )// 2 ** 5 & 20 +(~( -10 ))<< 2 )
# (10 + 320//2**5 & 20 +9 <<2)
# (10+320//32 & 29<<2)
# (10+10 & 116 )
# (20 & 116)
## calulating binary values nad performing and bitwise and operation
# bin(20), bin(116)
# 0b0010100
# 0b1110100
#------------
# 0b0010100
# int(0b0010100)
20

Q. Membership operation
in, not in are two membership operators and it returns boolean value
print ( '2' in 'Python2.7.8' )
print ( 10 in [ 10 , 10.20 , 10 + 20j , 'Python' ])
print ( 10 in ( 10 , 10.20 , 10 + 20j , 'Python' ))
print ( 2 in { 1 , 2 , 3 })
print ( 3 in { 1 : 100 , 2 : 200 , 3 : 300 })
print ( 10 in range ( 20 ))

In [42]:
# Solution
print ( '2' in 'Python2.7.8' )  # 2 is available in string thus True
print ( 10 in [ 10 , 10.20 , 10 + 20j , 'Python' ]) # 10 is available in list, thus True
print ( 10 in ( 10 , 10.20 , 10 + 20j , 'Python' )) # 10 is available is tuple, Thus True
print ( 2 in { 1 , 2 , 3 }) # 2 is available in set, thus True
print ( 3 in { 1 : 100 , 2 : 200 , 3 : 300 }) # 3 is available in dictionary, Thus True
print ( 10 in range ( 20 )) # 10 is avaiable in range 1,20 thus True

True
True
True
True
True
True

Q. An integer can be represented in binary, octal or hexadecimal form.
Declare one binary, one octal and one hexadecimal value and store them
in three different variables.
Convert 9876 to its binary, octal and hexadecimal equivalent and print
their corresponding value.

In [46]:
a = 100
b = bin(a)
c = oct(a)
d = hex(a)
print(b,c,d)

0b1100100 0o144 0x64

Q Convert 9876 to its binary, octal and hexadecimal equivalent and print
their corresponding value.

In [47]:
x = 9876
x1 = bin(9876)
x2 = oct(9876)
x3 = hex(9876)
print(x1, x2, x3)

0b10011010010100 0o23224 0x2694

In [68]:
#Q. What will be the output of following:-
a = 0b1010000
print(a)

# this is printing integer value of binary number a. Verfied below
print(int(a))

80
80

In [69]:
b = 0o7436
print (b)

# this is printing integer value of binary number. Verfied below
print(int(b))

3870
3870

In [70]:
c = 0xfade
print (c)
# this is printing integer value of octal number. Verfied below
print(int(c))

64222
64222

In [52]:
print ( bin ( 80 ))
# this is printing binary value of integer

0b1010000

In [53]:
print ( oct ( 3870 )) # # this is printing octal value of integer

0o7436

In [54]:
print ( hex ( 64222 ))  # # this is printing hexadecimal value of integer

0xfade

In [57]:
print ( bin(0b1010000))   # # this is printing same binary number. Bin command is used to conver integer to binary

0b1010000

In [58]:
print ( bin (0xfade ))  # # this is printing binary number of hexadecimal number

0b1111101011011110

In [59]:
print ( oct ( 0xfade )) # # this is printing octal value of hexadecimal number

0o175336

In [61]:
print ( oct ( 0o7436))  # # this is printing octal value of octal number.No typecasting here

0o7436

In [62]:
print ( hex ( 0b1010000)) # # this is printing hexadecimal value of binary number

0x50

In [63]:
print ( hex ( 0xfade )) # # this is printing hexadecimal value of hecadecimal number. No typecasting here

0xfade

In [1]:
 a= 'python'
print(id(a[1]))

2258837916528

In [ ]:
a