In [2]:
#Declare a string and store it in a variable. 

my_str = " I am learning Python at Learnbay"


#Check the type and print the id of the same.

type(my_str), id(my_str)

(str, 179226580912)

In [10]:
#Which are valid/invalid strings
#1. 'This is Python class'
#valid/invalid
my_str1 = 'This is Python class'
type(my_str1)
# Ans: Text in single quotes is valid string

str

In [11]:
# 2. "This is Python class"
# valid/invalid
my_str2 = "This s Python class"
type(my_str2)
# Ans: Text in double quotes is valid string

str

In [12]:
# 3. '''This is Python class'''
# valid/invalid
my_str3 = '''This is Python class'''
type(my_str3)
# Ans: Text in triple single quotes is valid string

str

In [13]:
# 4. """This is Python class"""
# valid/invalid
my_str4 = """This is Python class"""
type(my_str4)
# Ans: Text in triple double quotes is valid string

str

In [14]:
# 5. 'This is Python's class'
# valid/invalid
my_str5 = 'This is Python's class'
type(my_str5)
# Ans: This is invalid string as apostrophe will be taken as closing quote in python and another closing single quote is open.

SyntaxError: invalid syntax (<ipython-input-14-ff45dd09a018>, line 3)

In [15]:
# 6. "Learnbay provides "Java", "Python" classes"
# valid/invalid
my_str6 = "Learnbay provides "Java", "Python" classes"
type(my_str6)
# Ans: This is invalid string as there are no different quotes 
#to distinguish quotes for complete string and text in double quotes within string.

SyntaxError: invalid syntax (<ipython-input-15-2294bb6b91dd>, line 3)

In [17]:
# 7. "Learnbay provides 'Java', 'Python' classes"
# valid/invalid
my_str7 = "Learnbay provides 'Java', 'Python' classes"
type(my_str7)
# Ans: This is valid string as there are different quotes 
#to distinguish quotes for complete string and text in single quotes within string.

str

In [18]:
# 8. "This is Python's class"
# valid/invalid
my_str8 = "This is Python's class"
type(my_str8)
# Ans: This is valid string as there are different quotes 
#to distinguish quotes for complete string and text in single quotes with apostrophe.

str

In [19]:
# 9. """Learnbay provides "Java", "Python" classes"""
# valid/invalid
my_str9 = """Learnbay provides "Java", "Python" classes"""
type(my_str9)
# Ans: This is valid string as there are different quotes 
#to distinguish quotes for complete string and text in double quotes within string.

str

In [20]:
# 10. '''Learnbay provides "Java", "Python" classes'''
# valid/invalid   #
my_str10 = '''Learnbay provides "Java", "Python" classes'''
type(my_str10)
# Ans: This is valid string as there are triple single quotes 
#to distinguish quotes for complete string and text in double quotes within string.

str

In [22]:
# 11. '''Learnbay provides
# "Java", "Python" 
# classes'''
# valid/invalid

my_str11 = '''Learnbay provides
"Java", "Python" 
classes'''
type(my_str11)
print(my_str11)
# Answer: valid string even if running to 3 lines as in proper triple quotes and double quotes

Learnbay provides
"Java", "Python"
classes

In [24]:
# 12. 'This is
# Python 
# class'
# valid/invalid
my_str12 = 'This is
Python 
class'
type(my_str12)

# Answer: invalid string as class in 3rd line is read as inbuilt function not a string- depicted in green colour

SyntaxError: EOL while scanning string literal (<ipython-input-24-94a47dfb1a25>, line 5)

In [34]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

# print()
# #output:- The length of my_str is 66
print('The length of my_str is',end = " "),print(len(my_str))
# print()
# #output:- id of my_str and my_str1 is same? - True
print(id(my_str)),print(id(my_str1))
# answer:-id for 2 strings are different as strings are inmutable.
# print()
# #output:- Type of my_str is: str
print('Type of my_str is',end =":"),print(id(my_str))

The length of my_str is 66
179224312880
179224311600
Type of my_str is:179224312880

(None, None)

In [37]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
print(my_str)
#Write the code to get the output,instructions are mentioned below print statement. use indexing

Although 8 that way may not be obvious at first unless you're Dutch

In [52]:
#output:- The first character in my_str is: A
#Note:- Use positive indexing
print('The first character in my_str',end = " : "),print(my_str[0])

# Query - why None, None is coming in output? Need to check with sir

The first character in my_str : A

(None, None)

In [64]:
print()
#output:- The first character in my_str is: h
#Note:- Use len() function.
print(my_str[(len(my_str))-1])
print('The first character in my_str',end = " : "),print(my_str[(len(my_str))-1])
# with length function we have arrived positive index from the right side

h
The first character in my_str : h

(None, None)

In [67]:
#print()
#output:- The character at index 10 in my_str is: ' '
#Note:- Use positive indexing
print('The character at index 10 in my_str is',end = " : "),print(my_str[10])

# its space- thus showing blank

The character at index 10 in my_str is :

(None, None)

In [68]:
#print()
#output:- The last character in my_str is: h
#Note:- Use negative indexing.
print('The last character in my_str',end = " : "),print(my_str[-1])

The last character in my_str : h

(None, None)

In [79]:
#print()
#output:- The last character in my_str is: h
#Note:- Use len() function.
print('The last character in my_str',end = " : "),print(my_str[-len(my_str)])

The last character in my_str : A

9

In [80]:
#print()
#output:- The character in my_str is: 8
#Note:- Use positive index
#print(my_str(index(8)))
my_str.find('8')
my_str.index('8')
#Answer:-both the function can be used to find the position index of a character in string
print('The character in my_str is',end = " : "),print(my_str[9])

The character in my_str is : 8

(None, None)

In [5]:
#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing
# print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step
print((my_str)[::])

Although that way may not be obvious at first unless you're Dutch.

In [6]:
#print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step
print((my_str)[0:len(my_str)])

Although that way may not be obvious at first unless you're Dutch.

In [8]:
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step
print((my_str)[::1])

Although that way may not be obvious at first unless you're Dutch.

66

In [9]:
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step
len(my_str)
print((my_str)[0:66:1])

Although that way may not be obvious at first unless you're Dutch.

In [15]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.
print((my_str)[len(my_str):65:-1])

In [17]:
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth
print((my_str)[0:66:2])

Atog htwymyntb biu tfrtuls o'eDth

In [19]:
#output:- You have sliced: Ahgttam tebo  r lsorDc
print((my_str)[0:66:3])

Ahgttam tebo  r lsorDc

In [20]:
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step
print((my_str)[::-1])

.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

In [28]:
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.
print((my_str)[66::-1])

.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

In [29]:
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step
my_str = "Although that way may not be obvious at first unless you're Dutch."
print((my_str)[::-2])

.cu ruysen si asovoe o a a athuhl

In [30]:
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.
print((my_str)[-1:0:-2])

.cu ruysen si asovoe o a a athuhl

In [91]:
#What will be the output?

#print(my_str[10:17:-1])

#Answer: in above stop value is right of start value, in this case step value should be positive not neagtive.
#below is correct code
    
print(my_str[10:17:1])

hat way

In [86]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
#output:- You have sliced: yaw ta, Using begin, end and step.
print((my_str)[16:10:-1])

yaw ta

In [93]:
#output:- You have sliced: ess you. Using begin, end and step.
print((my_str)[-17:-10:1])

ess you

In [100]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python
print(str1+" "+str2)

#Error: TypeError: can only concatenate str (not "int") to str
print(str1+1+str2)

Learnbay Python

TypeError: can only concatenate str (not "int") to str

In [101]:
#Error: TypeError: can only concatenate str (not "float") to str
print(str1+1.20+str2)

TypeError: can only concatenate str (not "float") to str

In [103]:
#Find below Output
#Output is: LearnbayLearnbayLearnbay
print(str1*3)

#Error: TypeError: can't multiply sequence by non-int of type 'float'
print(str1*3.0)

LearnbayLearnbayLearnbay

TypeError: can't multiply sequence by non-int of type 'float'

In [104]:
#Error: TypeError: can't multiply sequence by non-int of type 'str'
print(str2*"two")

TypeError: can't multiply sequence by non-int of type 'str'

In [106]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'
#print True by using identity operator between str1 and str2
print(str1 is str2)

True

In [107]:
#print False by using identity operator between str1 and str3
print(str1 is str3)

False

In [108]:
#print False by using identity operator between str4 and str3
print(str4 is str3)

False

In [110]:
#Check if P is available in str1 and print True by using membership operator
print("P" in str1)

True

In [111]:
#Check if $ is available in str3 and print True by using membership operator
print("$" in str3)

True

In [112]:
#Check if N is available in str3 and print False by using membership operator
print("N" in str3)

False

In [113]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.
print(str1)[9:16]="Java"

This is Python class

TypeError: 'NoneType' object does not support item assignment

In [114]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
print(str1>=str2)

True

In [117]:
#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

True

In [116]:
#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

False

In [120]:
#Compare str1 and str2 and print False using comparison operator
print(str1 < str2)

False

In [122]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
print(str1 < str2)

True

In [123]:
#Compare str1 and str2 and print True using equality operator
print(str1 != str2)

True

In [124]:
#Compare str1 and str2 and print False using equality operator
print(str1 > str2)

False

In [125]:
#Compare str1 and str2 and print False using comparison operator
print(str1 == str2)

False

In [127]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'
print(str1 > int(str2))

TypeError: '>' not supported between instances of 'str' and 'int'

In [128]:
#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

False

In [129]:
#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

True

In [131]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
print(str1 <= str2)

True

In [132]:
#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

True

In [133]:
#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

False

In [135]:
#Compare str1 and str2 and print False using comparison operator
print(str1 < str2)

False

In [136]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator
print(str1 <= str2)

True

In [137]:
#Compare str1 and str2 and print True using equality operator
print(str1 != str2)

True

In [138]:
#Compare str1 and str2 and print False using equality operator
print(str1 == str2)

False

In [140]:
#Compare str1 and str2 and print False using comparison operator
print(str1 > str2)

False

In [165]:
a = 'Python'
b = ''
#Apply logical opereators (and, or & not) on above string values and observe the output.
print((a) and (b))  # answer should be empty string. And condition gives importance to false value. 
#But output is not visible. Not sure hwat is wrong

In [162]:
print((a) or (b)) # Or condition gives prefernce to True. string with any text in it is true, thus python is result.

Python

In [152]:
#print(a) & (b)  # bitwise operation not possible on strings

TypeError: 'str' object is not callable

In [180]:
print(a) is not (b)

Python

True

In [170]:
# will check later
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a or b)
print()
print()

In [177]:
a = 'Python'
b = 'learnbay'
print(id(a))
print(id(b))
#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(a  is not b)

28217797552
28265569712
learnbay
Python
True

In [196]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print(my_str.count('t'))
print(my_str.find('t'))
print(my_str.index('t'))

startindex = 0
count =0
for i in range(len(my_str)):
    j=my_str.find(('t'),startindex)
    if( j!= -1):
        startindex=j+1
        count+=1
        j=0
print("The total count of 't' is: ", count )
    
#     startIndex = 0
# count = 0
# for i in range(len(my_string)):
#     k = my_string.find('test', startIndex)
#     if(k != -1):
#         startIndex = k+1
#         count += 1
#         k = 0

7
2
2
The total count of 't' is:  7

In [182]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print()
print()

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print()
print()

#What will be the output of below code?
print(my_str.find('the'))


print(my_str.index('the'))


print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

SyntaxError: invalid syntax (<ipython-input-182-ba5995d3e7aa>, line 4)

In [ ]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print()

#Write the code to convert all alphabets in my_str into lower case.
print()

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print()

In [ ]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

In [ ]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

In [ ]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

In [ ]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

In [ ]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

In [ ]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

In [ ]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)


#Write the code to get below output
#O/P 1:- **python (using rjust method)


#Write the code to get below output
#O/P 1:- **python** (using rjust method)

In [ ]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

In [ ]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

In [ ]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

In [ ]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

In [ ]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

In [ ]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

In [ ]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'